
h1, p, a{
    color:rgb(4, 81, 81)
}

h1, .element1, .element2, .element3{
    font-size: 30px;
}

.container1 p{
    color: rgb(213, 12, 82)
}
.container2 h3{
    color: rgb(130, 5, 134);
}
.container3 ul li a{
    color:rgb(184, 124, 12);
}
/*Child selector*/

.container4 > div > h1{
    color: blue;
}